# useDynLib(metarep, .registration = TRUE)

export(truncatedPearson , metarep , summary.metarep , print.summary.metarep ,
       forest.metarep, find_umax )

# not visible:
# metaRvalue.U , chkclass

importFrom("stats", "dbinom", "pgamma", "pnorm")
importFrom("utils", "combn")
     
     S3method( summary, metarep)
S3method(forest, metarep)
S3method(print, summary.metarep)
# S3method(print, metarep)
# S3method( truncatedPearson , metarep)
# S3method(find_umax, metarep)

import("meta")

