#useDynLib(RepMeta, .registration = TRUE)

export(truncatedPearson , metarepl , summary.metarepl , print.summary.metarepl ,
       forest.metarepl, find_umax )

# not visible:
# metaRvalue.U , chkclass

S3method( summary, metarepl)
S3method(forest, metarepl)
S3method(print, summary.metarepl)
# S3method(print, metarepl)
# S3method( truncatedPearson , metarepl)
# S3method(find_umax, metarepl)

import("meta")

